<h4 class="text-center">Login</h4>
<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <input
      class="form-control"
      type="text"
      placeholder="Nome do usuário"
      name="user"
      [(ngModel)]="user"
      #userField="ngModel"
      required />
    <app-message *ngIf="userField.invalid && userField.touched" message="Usuário obrigatório"></app-message>
  </div>
  <div class="mb-3">
    <input
      class="form-control"
      type="password"
      placeholder="Senha"
      name="password"
      [(ngModel)]="password"
      #passwordField="ngModel"
      required />
      <app-message *ngIf="passwordField.invalid && passwordField.touched" message="Senha obrigatória"></app-message>
  </div>
  <button class="btn btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
