<h4 class="text-center">Registre-se e mostre sua moto ao mundo!</h4>

<form class="form mt-4">
  <div class="mb-3">
    <input class="form-control" type="text" placeholder="email">
  </div>
  <div class="mb-3">
    <input class="form-control" type="text" placeholder="Nome completo">
  </div>
  <div class="mb-3">
    <input class="form-control" type="text" placeholder="Usuário">
  </div>
  <div class="mb-3">
    <input class="form-control" type="password" placeholder="Senha">
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary">Cadastro</button>
  </div>
</form>
<p class="mt-2">Já é um usuário? <a [routerLink]="['/home']">Faça login</a> </p> <!-- on the routerLink, we can use [''] only. It's not necessary to use the full module path. -->
